# 新加的
third_part/RLBench.zip
third_part/YARR.zip
third_part/CoppeliaSim_Edu_V4_1_0_Ubuntu20_04
# third_part/RLBench
third_part/pyrep
third_part/YARR
third_part/RLBench/rlbench/assets
.ttm
third_part/RLBench/rlbench/robot_ttms
third_part/RLBench/rlbench/task_ttms
third_part/RLBench/tests/unit/assets/
third_part/RLBench/urdfs/panda/meshes/
third_part/RLBench/tutorials/tutorial_images/

third_party/
outputs/
log/
log1/
log2/
log/
log3/
data/
data1/
peract/

wandb/
log/
.mp4
.pt
output/
.sh
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
# .Python
# build/
# develop-eggs/
# dist/
# downloads/
# eggs/
# .eggs/
# lib/
# lib64/
# parts/
# sdist/
# var/
# wheels/
# share/python-wheels/
# *.egg-info/
# .installed.cfg
# *.egg
# MANIFEST

# # PyInstaller
# #  Usually these files are written by a python script from a template
# #  before PyInstaller builds the exe, so as to inject date/other infos into it.
# *.manifest
# *.spec

# # Installer logs
# pip-log.txt
# pip-delete-this-directory.txt

# # Unit test / coverage reports
# htmlcov/
# .tox/
# .nox/
# .coverage
# .coverage.*
# .cache
# nosetests.xml
# coverage.xml
# *.cover
# *.py,cover
# .hypothesis/
# .pytest_cache/
# cover/

# # Translations
# *.mo
# *.pot

# # Django stuff:
# *.log
# local_settings.py
# db.sqlite3
# db.sqlite3-journal

# # Flask stuff:
# instance/
# .webassets-cache

# # Scrapy stuff:
# .scrapy

# # Sphinx documentation
# docs/_build/

# # PyBuilder
# .pybuilder/
# target/

# # Jupyter Notebook
# .ipynb_checkpoints

# # IPython
# profile_default/
# ipython_config.py

# # pyenv
# #   For a library or package, you might want to ignore these files since the code is
# #   intended to run in multiple environments; otherwise, check them in:
# # .python-version

# # pipenv
# #   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
# #   However, in case of collaboration, if having platform-specific dependencies or dependencies
# #   having no cross-platform support, pipenv may install dependencies that don't work, or not
# #   install all needed dependencies.
# #Pipfile.lock

# # poetry
# #   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
# #   This is especially recommended for binary packages to ensure reproducibility, and is more
# #   commonly ignored for libraries.
# #   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# #poetry.lock

# # pdm
# #   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
# #pdm.lock
# #   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
# #   in version control.
# #   https://pdm.fming.dev/#use-with-ide
# .pdm.toml

# # PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
# __pypackages__/

# # Celery stuff
# celerybeat-schedule
# celerybeat.pid

# # SageMath parsed files
# *.sage.py

# # Environments
# .env
# .venv
# env/
# venv/
# ENV/
# env.bak/
# venv.bak/

# # Spyder project settings
# .spyderproject
# .spyproject

# # Rope project settings
# .ropeproject

# # mkdocs documentation
# /site

# # mypy
# .mypy_cache/
# .dmypy.json
# dmypy.json

# # Pyre type checker
# .pyre/

# # pytype static type analyzer
# .pytype/

# # Cython debug symbols
# cython_debug/

# # PyCharm
# #  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
# #  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# #  and can be added to the global gitignore or merged into this file.  For a more nuclear
# #  option (not recommended) you can uncomment the following to ignore the entire idea folder.
# #.idea/

log-mani/mani/ManiGaussian_BC2/seed0/config.yaml
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722925467.server189.1082237.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722925611.server189.1083146.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722925708.server189.1084134.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722926746.server189.1089342.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722927096.server189.1090682.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722927344.server189.1091644.0
log-mani/mani/ManiGaussian_BC2/seed0/training.log
log-mani/mani/ManiGaussian_BC2/seed0/weights/0/QAttentionAgent_layer0.pt
log-mani/mani/ManiGaussian_BC2/seed0/config.yaml
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722939585.server189.1109481.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722939940.server189.1110552.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722940374.server189.1111547.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722940582.server189.1112446.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722941328.server189.1114242.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722941810.server189.1116052.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722942290.server189.1117556.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722943940.server189.1119652.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722944500.server189.1120577.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722944603.server189.1121429.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722945046.server189.1122015.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722945122.server189.1122504.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722945306.server189.1123000.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722945559.server189.1124492.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722945631.server189.1125164.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722945735.server189.1125976.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722946328.server189.1127378.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722946605.server189.1128541.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722946663.server189.1129202.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722946810.server189.1130090.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722946963.server189.1130996.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722947168.server189.1132065.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722947567.server189.1133064.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722948268.server189.1135160.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722949187.server189.1137511.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722953028.server189.1146191.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722953117.server189.1146877.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722954599.server189.1150076.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722955005.server189.1151752.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722956457.server189.1156718.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722957340.server189.1159478.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722958248.server189.1163466.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722959971.server189.1170489.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722960183.server189.1171740.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722960321.server189.1172774.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722961923.server189.1177438.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722962168.server189.1178640.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722962473.server189.1179972.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722963657.server189.1183383.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722963721.server189.1184032.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722964654.server189.1186517.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722964916.server189.1187485.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722965166.server189.1188679.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722965749.server189.1190806.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1722966556.server189.1193683.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723006216.server189.1217511.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723006626.server189.1218538.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723006870.server189.1219799.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723008280.server189.1221740.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723008476.server189.1222859.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723009886.server189.1224531.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723010075.server189.1225213.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723010274.server189.1225968.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723010492.server189.1226702.0
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723010794.server189.1227872.0
log-mani/mani/ManiGaussian_BC2/seed0/training.log
log-mani/mani/ManiGaussian_BC2/seed0/config.yaml
log-mani/mani/ManiGaussian_BC2/seed0/events.out.tfevents.1723010985.server189.1228770.0
log-mani/mani/ManiGaussian_BC2/seed0/training.log
